cells/
scratch/
md/*/traj.lammpstrj
md/*/final.data
md/*/log.lammps
md/*/stdout.txt
md/*/data.lammps
md/*/slurm.out
md/*/slurm.err
logs/
parents/*.poscar
parents/*.extxyz
dft/*/POTCAR
dft/*/CHGCAR
dft/*/LOCPOT
dft/*/OUTCAR
dft/*/log.out
__pycache__/
dft/*/CHG
dft/*/CONTCAR
dft/*/DOSCAR
dft/*/EIGENVAL
dft/*/IBZKPT
dft/*/OSZICAR
dft/*/PCDAT
dft/*/REPORT
dft/*/XDATCAR
dft/*/vaspout.h5
dft/*/PHI
dft/*/PHISOLV
dft/*/VSOLV
dft/*/RHOB
dft/*/RHOION
dft/*/ELOC
dft/*/P
dft/*/SVDW
dft/*/SION
dft/*/SSOLV
dft/*/SCAV
dft/*/SDIEL
dft/*/POT
dft/*/myjob.*
dft/*/farm.err
